---
import { BaseLayout, CategorySection } from '@astgov/theme';
import { getCollection } from 'astro:content';
import { siteConfig } from '../../config/site.config';

const posts = await getCollection('posts', ({ data }) => !data.draft).then(ps => ps.filter(p => (p.data.category || p.id.split('/')[0]) === 'news'));
const sorted = posts.sort((a, b) => b.data.date.localeCompare(a.data.date));
---

<BaseLayout config={siteConfig} title="新闻">
  <div class="page-section"><div class="container">
    <div class="breadcrumb"><a href="/">首页</a> &gt; <span>新闻</span></div>
    <div class="page-content" style="padding:15px">
      <CategorySection title="全部新闻" posts={sorted} moreText={siteConfig.ui?.moreText} dateFormat={siteConfig.ui?.dateFormat} />
    </div>
  </div></div>
</BaseLayout>